<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 6</b></center>
    <center><b><h1>Yash Dhameliya</b></center>    

        <center><b><h1>23010101061</b></center>    

            <center><b><h1>1-1-2025</b></center>    


<pre>

# Tuple

### 01) WAP to find sum of tuple elements.

In [2]:
t1 = (1,2,3,4,5,6,7,8,9)
sum = 0
for i in t1:
    sum += i

print(sum)

45

### 02) WAP to find Maximum and Minimum K elements in a given tuple.

In [62]:
t1 = (10,21,32,43,5,6,7,8)
list = [i for i in t1]
# print(list)
list.sort()
print("Maximum element", list[len(list)-1] ,"and Minimun element ", list[0])

Maximum element 43 and Minimun element  5

### 03) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [68]:
tuple = 1,2,3,4,5,6

k = int(input("Enter a number"))

for i in tuple:
    if i%k==0:
        print(i)

1

### 04) WAP to create a list of tuples from given list having number and its cube in each tuple.

In [50]:
list = [i for i in range(0 , int(input("Enter range of list")))]
listOfTuple = [(i , i**2) for i in list]
print(listOfTuple)

Enter range of list 3

[(0, 0), (1, 1), (2, 4)]

### 05) WAP to find tuples with all positive elements from the given list of tuples.

In [82]:
listOfTuple = [(1, 12 , -1), (-2, -1, -22), (2, 4, 6)]
for i in listOfTuple:
    # if block true  --> for loop is break and else bolck not excute
    # if block is false for all element --> else block excute
    for j in i:
        if j<0:
            break
    else:
        print(i)

(2, 4, 6)

### 06) WAP to add tuple to list and vice â€“ versa.

In [20]:
t1 = (1,2,3,4)

li = ['hello' , 'hiiiii' , 28]

li.append(t1)

l2 = [11,22,33,44]
modified_tuple = t1 + tuple(l2)

print(modified_tuple)
print(li)

(1, 2, 3, 4, 11, 22, 33, 44)
['hello', 'hiiiii', 28, (1, 2, 3, 4)]

### 07) WAP to remove tuples of length K.

In [56]:
listOfTuple = [(1 , -1), (-2, -1, -22), (2, 4, 6)]
k = int(input("Enter a value for remove tuple from list : "))

li = list( i for i in listOfTuple if len(i) != k)
print(li)

Enter a value for remove tuple from list :  3

[(1, -1)]

### 08) WAP to remove duplicates from tuple.

In [52]:
t1 = (1,2,3,45,4,3,12,45,1)
t2 = tuple((i for i in t1 if t1.count(i) == 1))

print(t2)

(2, 4, 12)

### 09) WAP to multiply adjacent elements of a tuple and print that resultant tuple.

In [ ]:
t1 = (1,2,3,45,4,12)
ans = len(set(t1)) == len(t1) 
print(ans)

### 10) WAP to test if the given tuple is distinct or not.

In [ ]:
t1 = (1,2,3,45,4,3,12)
ans = len(set(t1)) == len(t1) 
print(ans)